body {
	height:100%;
	margin: 0 auto;
	font-family: arial,sans-serif;
}

#header {

	font-size: 10pt;
	height: 35px;
	position: absolute;
	width: 100%;
}

.btnsearch {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;

}



#fkbx>input {
    background: transparent;
    border: none;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0 8px;
    position: absolute;
    top: 2px;
    width: 100%;
}

#fkbx {
    background-color: #fff;
    border: 1px solid rgb(185,185,185);
    border-radius: 1px;
    border-top-color: rgb(160,160,160);
    cursor: text;
    display: inline-block;
    font: 18px arial,sans-serif;
    height: 36px;
    line-height: 36px;
    max-width: 672px;
    position: relative;
    width: 618px;

}


img {  
width: 272px;
height:92px;
 }

h1{
	padding-top: 18px;
}

div {
	display: block;
}


#footer {
	bottom: 0;
	font-size: 10pt;
	height: 35px;
	position: absolute;
	width: 100%;
}

#div-section{
	display: flex;
	justify-content: center;
	align-items: center;
}